<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="HostSmtp" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="EnableSsl" value="true"/>
    <add key="SenderName" value="Mariusz Wieczorek"/>
    <add key="SenderEmail" value="mariusz.wieczorek.testy@gmail.com"/>
    <add key="SenderEmailPassword" value="rmhfvaurzyxnuztn"/>
    <add key="ReceiverEmail" value="m.wieczorek1972@gmail.com"/>
  </appSettings>
</configuration>